@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 16px 0;
}
body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.imc-result{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.imc-result ul {  
  list-style-type: none;
  padding: 0;
}
.imc {
  margin-right: 100px;
}

.formulario input, button{
  padding:  14px;
  font-size: 16px;
}

button {
  background: var( --primary-color);
  border: none;
  color: #fff;
  cursor:pointer;

}
button:hover{
  background: var(--primary-color-darker);
  transition:  .3s all ;
}